/* GOTHAM */
@font-face {
  font-family: Gotham;
  src: url(../fonts/gotham/GothamBold.ttf);
}

@font-face {
  font-family: Gotham;
  src: url(../fonts/gotham/GothamBoldItalic.ttf);
}

@font-face {
  font-family: Gotham;
  src: url(../fonts/gotham/GothamBook.ttf);
}

@font-face {
  font-family: Gotham;
  src: url(../fonts/gotham/GothamBookItalic.ttf);
}

@font-face {
  font-family: Gotham;
  src: url(../fonts/gotham/GothamLight.ttf);
}

@font-face {
  font-family: Gotham;
  src: url(../fonts/gotham/GothamLightItalic.ttf);
}

@font-face {
  font-family: Gotham;
  src: url(../fonts/gotham/GothamMedium.ttf);
}

@font-face {
  font-family: Gotham;
  src: url(../fonts/gotham/GothamMediumItalic.ttf);
}

@font-face {
  font-family: Gotham;
  src: url(../fonts/gotham/GothamMedium_1.ttf);
}
/* END - FONTS */


/* BARLOW */
@font-face {
  font-family: Barlow;
  src: url(../fonts/barlow/Barlow-Black.ttf);
}

@font-face {
  font-family: Barlow;
  src: url(../fonts/barlow/Barlow-BlackItalic.ttf);
}

@font-face {
  font-family: Barlow;
  src: url(../fonts/barlow/Barlow-Bold.ttf);
}

@font-face {
  font-family: Barlow;
  src: url(../fonts/barlow/Barlow-BoldItalic.ttf);
}

@font-face {
  font-family: Barlow;
  src: url(../fonts/barlow/Barlow-ExtraBold.ttf);
}

@font-face {
  font-family: Barlow;
  src: url(../fonts/barlow/Barlow-ExtraBoldItalic.ttf);
}

@font-face {
  font-family: Barlow;
  src: url(../fonts/barlow/Barlow-ExtraLight.ttf);
}

@font-face {
  font-family: Barlow;
  src: url(../fonts/barlow/Barlow-ExtraLightItalic.ttf);
}

@font-face {
  font-family: Barlow;
  src: url(../fonts/barlow/Barlow-Italic.ttf);
}

@font-face {
  font-family: Barlow;
  src: url(../fonts/barlow/Barlow-Light.ttf);
}

@font-face {
  font-family: Barlow;
  src: url(../fonts/barlow/Barlow-LightItalic.ttf);
}

@font-face {
  font-family: Barlow;
  src: url(../fonts/barlow/Barlow-Medium.ttf);
}

@font-face {
  font-family: Barlow;
  src: url(../fonts/barlow/Barlow-MediumItalic.ttf);
}

@font-face {
  font-family: Barlow;
  src: url(../fonts/barlow/Barlow-Regular.ttf);
}

@font-face {
  font-family: Barlow;
  src: url(../fonts/barlow/Barlow-SemiBold.ttf);
}

@font-face {
  font-family: Barlow;
  src: url(../fonts/barlow/Barlow-SemiBoldItalic.ttf);
}

@font-face {
  font-family: Barlow;
  src: url(../fonts/barlow/Barlow-Thin.ttf);
}

@font-face {
  font-family: Barlow;
  src: url(../fonts/barlow/Barlow-ThinItalic.ttf);
}
/* END - BARLOW */
